<div>
    <div class="container">
      <div class="register col-md-5 col-sm-6">
        <h1 class="title"><strong>Bio Data</strong></h1>
          <form [formGroup]="bioDataForm" (ngSubmit)="onSubmitForm()">
              <div class="form-group">
                <label class="reg_txt">Name <span>*</span></label>
                  <div class="controls form-inline">       
                    <input type="text" class="input-name" placeholder="First" formControlName="firstName" required>
                    <input type="text" class="input-name" placeholder="Last" formControlName="lastName">
                    <div *ngIf="submitted && f.firstName.errors" class="invalid col-md-6">
                      <div *ngIf="f.firstName.errors.required">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg> First Name is required
                      </div>
                    </div>
                    <div *ngIf="submitted && f.lastName.errors" class="invalid">
                      <div *ngIf="f.lastName.errors.required">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg> Last Name is required
                      </div>
                    </div>
                  </div>                        
              </div>
              <div class="clearfix"></div>
              
              <div class="form-group">
              <label class="reg_txt">Email  <span>*</span></label>
                <input type="text" class="form-register text" id="" placeholder="E-mail" formControlName="email">
                <div *ngIf="submitted && f.email.errors" class="invalid" style="padding-top: 1%;">
                  <div *ngIf="f.email.errors.required">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg> Email is required
                  </div>
                  <div *ngIf="f.email.errors.email">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg> Email must be a valid email address
                  </div>
                </div>
              </div>
              
              <div class="form-group" style="height:70px; padding-top: 2%;">
              <label class="reg_txt">Phone Number  <span>*</span></label>
                <div class="clearfix"></div>
                  <div class="wsite-form">
                    <input type="text" class="text input-name1" formControlName="phoneNumber1">
                  </div>
                  <div class="line">-</div>
                  <div class="wsite-form">
                    <input type="text" class="text input-name1" formControlName="phoneNumber2">
                  </div>
                  <div class="line">-</div>
                  <div class="wsite-form">
                    <input type="text" class="text input-name1" formControlName="phoneNumber3">
                  </div>
                </div>
                <div class="invalid">
                  <div *ngIf="submitted && f.phoneNumber1.errors">
                    <div *ngIf="f.phoneNumber1.errors?.pattern">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg> Please include +91 or 0 in first box
                    </div>
                  </div>
                  <div *ngIf="submitted && f.phoneNumber2.errors">
                    <div *ngIf="f.phoneNumber2.errors?.pattern">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg> Please enter 5 digits in second box
                    </div>
                  </div>
                  <div *ngIf="submitted && f.phoneNumber3.errors">
                    <div *ngIf="f.phoneNumber3.errors?.pattern">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg> Please enter 5 digits in third box
                    </div>
                  </div>
                  <div *ngIf="submitted && (f.phoneNumber1.errors || f.phoneNumber2.errors || f.phoneNumber3.errors)">
                    <div *ngIf="f.phoneNumber1.errors?.required || f.phoneNumber2.errors?.required || f.phoneNumber3.errors?.required">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg> Phone number is required
                    </div>
                    <div *ngIf="f.phoneNumber1.errors?.required && !f.phoneNumber2.errors?.required && !f.phoneNumber3.errors?.required">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg> Country code is required
                    </div>
                    <div *ngIf="f.phoneNumber2.errors?.required && !f.phoneNumber1.errors?.required && !f.phoneNumber3.errors?.required">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg> Please enter first 5 digits
                    </div>
                    <div *ngIf="f.phoneNumber3.errors?.required && !f.phoneNumber1.errors?.required && !f.phoneNumber2.errors?.required">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                      </svg> Please enter second 5 digits
                    </div>
                  </div>
                </div>
              <div class="clearfix"></div>
              
              <div class="form-group">
                <label class="reg_txt">Address  <span>*</span></label>
                <input type="text" class="form-register text" id="" placeholder="Line 1" style="margin-bottom:15px;" formControlName="address1">
                <div *ngIf="submitted && f.address1.errors" class="invalid">
                  <div *ngIf="f.address1.errors.required">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg> Line 1 is required
                  </div>
                </div>
                <input type="text" class="form-register text" id="" placeholder="Line 2" formControlName="address2">
                <div *ngIf="submitted && f.address2.errors" class="invalid" style="padding-top: 1%;">
                  <div *ngIf="f.address2.errors.required">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg> Line 2 is required
                  </div>
                </div>
              </div>
              
              <div class="form-group">                    
                <div class="controls form-inline">       
                  <input type="text" class="input-name" placeholder="City" formControlName="city">
                  <input type="text" class="input-name" placeholder="State" formControlName="state">
                </div>                        
                <div *ngIf="submitted && f.city.errors" class="invalid col-md-6">
                  <div *ngIf="f.city.errors.required">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg> City is required
                  </div>
                </div>
                <div *ngIf="submitted && f.state.errors" class="invalid">
                  <div *ngIf="f.state.errors.required">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg> State is required
                  </div>
                </div>
              </div>
              
              <div class="form-group">                    
                <div class="controls form-inline">       
                  <input type="text" class="input-name" placeholder="Zip Code" formControlName="zipCode">
                  <input type="text" class="input-name" placeholder="Country" formControlName="country">
                </div>          
                <div *ngIf="submitted && f.zipCode.errors" class="invalid">
                  <div *ngIf="f.zipCode.errors.required">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg> ZIP Code is required
                  </div>
                  <div *ngIf="f.zipCode.errors.pattern">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg> Please enter 6 digits. Alphabets are not allowed
                  </div>
                </div> 
                <div *ngIf="submitted && f.country.errors" class="invalid">
                  <div *ngIf="f.country.errors.required">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                    </svg> Country is required
                  </div>
                </div>             
              </div>
  
              <div class="form-group">
                <label class="reg_txt">Write Your qualification <span>*</span></label>
                <input type="text" class="form-register text" id="" placeholder="" style="margin-bottom:15px;" formControlName="qualification">
                <!-- <input type="text" class="form-register text" id="" placeholder="Add your qualification"> <span><img alt="" src="images/plus.png" class="add"></span> -->
              </div>
              <div *ngIf="submitted && f.qualification.errors" class="invalid">
                <div *ngIf="f.qualification.errors.required">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                  </svg> Qualification is required
                </div>
              </div>   
              
              <div class="clearfix"></div>
              
              <div class="form-group">
                <label class="reg_txt">Comment  <span>*</span></label>                        
                <textarea class="form-register text" formControlName="comments"></textarea>
              </div>
              <div *ngIf="submitted && f.comments.errors" class="invalid">
                <div *ngIf="f.comments.errors.required">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                  </svg> Comments is required
                </div>
              </div> 
  
              <div class="form-group">
                <button type="submit" class="btn btn-default submit" style="width:97%;">Submit</button>
              </div>
  
          </form>
      </div>
    
      <div class="col-md-6 tabt">
          <table class="table">
            <tbody>
              <tr class="ztxt">
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>View</th>
              </tr>
              <tr *ngFor="let userData of usersData">
                <td>{{userData.firstName}}</td>
                <td>{{userData.email}}</td>
                <td>{{userData.phoneNumber}}</td>
                <td><button class="ed" [routerLink]="['/edit', userData._id]">Edit</button></td>
                <td><button class="ed" style="background:#f00;" (click)="onDelete(userData._id)">Delete</button></td>
                <td><button class="ed" [routerLink]="['/view', userData._id]" style="background:#000;">View</button></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>
<router-outlet></router-outlet>